html{
    scroll-behavior:smooth;
}
body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0;
    margin:0;
}


h1 {
    color: #00bfff;
    font-size: 40px;
}

h2 {
    color: #ff9800;
}

p {
    font-size: 18px;
    line-height: 1.6;
}


.card {

    width: 80%;
    margin: 30px auto;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.1);

    backdrop-filter: blur(10px);

    box-shadow: 0 8px 32px rgba(0,0,0,0.3);

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px) scale(1.02);
}

    nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 80px;

    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(12px);
    position:sticky;
    top:0;
    z-index:1000;
        


}

.logo {
    color: #00bfff;
    font-size: 38px;
    font-weight: 800;
    letter-spacing: 1px;
    transition: 0.3s;
}

.logo:hover {
    color: white;
    transform: scale(1.05);
}

/* Navigation menu */
nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

/* Navigation text */
nav ul li {
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s;
    position: relative;
}

/* Hover animation */
nav ul li:hover {
    color: #00bfff;
    transform: translateY(-3px);
}
nav ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #00bfff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

nav ul li:hover::after {
    width: 100%;
}

/* Theme button */
.theme-btn {
    background: linear-gradient(135deg, #00bfff, #0077ff);
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 10px #00bfff;
    transition: 0.3s;
}
.light-mode {
    background: #f5f7fa;
    color: black;
}

.light-mode nav {
    background: #e5e5e5;
}

.light-mode .card {
    background: rgba(0, 0, 0, 0.1);
    color: black;
}

.light-mode h1,
.light-mode h2,
.light-mode p,
.light-mode li {
    color: black;
}

.theme-btn:hover {
    transform: translateY(-3px) scale(1.1);
    box-shadow: 0 0 25px #00bfff;
}
.light-mode .contact-btn {
    color: #0077ff;
    border: 2px solid #0077ff;
}
.light-mode .contact-btn:hover {
    background: #0077ff;
    color: white;
}
.light-mode .hero-content h3,
.light-mode .hero-content p {
    color: black;
}
.light-mode .about-left h2,
.light-mode .about-left p,
.light-mode .about-card p {
    color: black;
}
.light-mode .about-card {
    background: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.light-mode .about-card p{
    color:black;
}
light-mode nav ul li a {
    color: black;
}

.light-mode nav ul li a:hover {
    color: #0077ff;
}
.light-mode .about-left h2::after{
    background:#0077ff;
}
a {
    color: #00bfff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    color: white;
    text-shadow: 0 0 10px #00bfff;
}
.contact-links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    background: rgba(255,255,255,0.1);
    transition: 0.3s;
}

.contact-links a:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px #00bfff;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    width: 90%;
    margin: 0px auto 20px auto;
    padding: 5px 20px;
    text-align:left;
}
.hero-image {
    position: relative;
    width: 320px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(
        transparent,
        #00bfff,
        #00ffff,
        #00bfff,
        transparent
    );
    animation:rotateRing 4s linear infinite;
    z-index:0;
}

.hero-image img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 1;
    border: 6px solid #121212;
    
}



.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hero-content h3 {
    font-size: 40px;
    margin-bottom:15px;
    color: white;
}

.hero-content h1 {
    font-size: 65px;
    line-height:1.1;
    margin:10px 0;
}

.hero-content span {
    color: #00bfff;
}

.description {
    font-size: 22px;
    max-width: 600px;
    line-height: 1.5;
    margin-top: 20px;
    color:#ddd;
}
.light-mode .description{
    color:#333;
}
.buttons {
    display: flex;
    justify-content:flex-start;
    gap: 25px;
    margin-top: 30px;
}

.resume-btn,
.contact-btn {
    display: inline-block;
    min-width: 180px;
    text-align: center;
    
    border-radius: 8px !important;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
}

.resume-btn {
    width: 230px;
    height: 55px;
    background: #009dff;
    color: white;
    text-decoration: none;
    box-shadow:none;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:8px;

    font-size: 16px;
    font-weight: 500;

    box-sizing:border-box;
    transition: 0.3s ease;


}

.resume-btn:hover {
    transform: translateY(-5px);
    box-shadow:none;
    
}


.contact-btn {
    width: 230px;
    height: 55px;

    background: transparent;
    color: white;
    text-decoration: none;

    display: flex;

    justify-content: center;
    align-items: center;

    border: 2px solid #00c6ff;
    border-radius: 8px;

    font-size: 16px;
    font-weight: 500;
    line-height:55px;
    box-sizing:border-box;
    

    transition: 0.3s ease;
}

.contact-btn:hover {
    background: cyan;
    color: black;
    
}
.resume-btn:hover,
.contact-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px #00bfff;
}
#about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    width:85%;
    margin:40px auto 80px auto;
    text-align:left;
}

.about-left {
    flex:1;
    max-width:550px;
    margin-top:0;
}

.about-left h2 {
    font-size: 48px;
    margin-bottom: 0;
    color: white;
    position: relative;
}
.light-mode .about-left h2 {
    color: black;
}

.light-mode .about-left p {
    color: #333;
}
.about-left h2::after {
    content: "";
    width: 70px;
    height: 3px;
    background: cyan;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.about-left p {
    color: #cccccc;
    line-height: 1.8;
    font-size: 20px;
}

.about-card {
    width: 380px;
    padding: 35px;
    margin-top:0;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(0,255,255,0.3);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,255,255,0.15);
}

.about-card p {
    font-size: 20px;
    margin: 20px 0;
}

@media (max-width: 768px) {
.hero {
    flex-direction: column;
    text-align: center;
}

.hero-image img {
    width: 220px;
    height: 220px;
}

.hero-content h1 {
    font-size: 45px;
}

.buttons {
    justify-content: center;
    flex-wrap: wrap;
}

    nav ul {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .hero h2 {
        font-size: 28px;
    }

    

    

    .hero img {
        width: 120px;
        height: 120px;
        
    }
}

body{
    background: linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
    animation:fadeIn 1.5s;
    
}
@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.light-mode{
    background: white;
    color: black;
}
@keyframes rotateRing {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
